{% extends 'base.twig' %}

    {% block main %}

    <div class="hero-container-about">
        <img src="/wp-content/uploads/images/seagullspread.jpg" alt="seagull">
            <h2 class="tagline"> &diams;About Us&diams;</h2>
    </div>

    <div class="about-content">{{ about_content}}</div>


    <div class="gallery-flavours-container">

        <div class="gallery-flavours">
            <a target="_blank" href="{{image}}">
                <img src="{{image}}"/>
            </a>

            <div class="desc">Locally sourced ingredients</div>
        </div>


        <div class="gallery-flavours">
            <a target="_blank" href="{{image_two}}">
                <img src="{{image_two}}"/>
            </a>
            <div class="desc">Freshly handmade jars</div>
        </div>

        <div class="gallery-flavours">
            <a target="_blank" href="{{image_three}}">
                <img src="{{image_three}}"/>
            </a>
            <div class="desc">Six unique recipes</div>
        </div>
    </div> {#about-gallery#}

    <div class="about-banner-middle-image">
        <div class="about-banner-inner">
            <img src="{{ banner_about_image}}"/>
        </div>
    </div> {#about-banner_about_image #}

    <div> {{ more_info_about}} </div>




{% endblock %}
