{% extends 'base.twig' %}

{% block main %}
<div class="spread-product-gallery">
    <img src="{{ product_gallery}}"/>
    <img src="{{ product_gallery_two}}"/>
    <img src="{{ product_gallery_three}}"/>
    <img src="{{ product_gallery_four}}"/>
    <img src="{{ product_gallery_five}}"/>
    <img src="{{ product_gallery_six}}"/>
</div>

<p>BEST SELLERS</P>

    

{% endblock %}
