{% extends 'base.twig' %}

{% block main %}


<div class="hero-container-products">
    <img src="/wp-content/uploads/images/tomato.jpg" alt="tomato">
        <h2 class="tagline"> &diams;Products&diams;</h2>
</div>

{#<div class="spread-product-gallery">
    <img src="{{ product_gallery}}"/>
    <img src="{{ product_gallery_two}}"/>
    <img src="{{ product_gallery_three}}"/>
    <img src="{{ product_gallery_four}}"/>
    <img src="{{ product_gallery_five}}"/>
    <img src="{{ product_gallery_six}}"/>
</div> #}

<section class="product-menu">
	<h2> Product Menu </h2>
	<article class="product-menu-item">
		<h3 class="product-menu-title">Breakfast</h3>
		<div class="product-menu-content">
			<p> let's have bananas for breakfasttttt</p>
		</div>
	</article>

	<article class="product-menu-item">
		<h3 class="product-menu-title">Lunch</h3>
		<div class="product-menu-content">
			<p> let's have bananas for breakfasttttt</p>
		</div>
	</article>

	<article class="product-menu-item">
		<h3 class="product-menu-title">Dinner</h3>
		<div class="product-menu-content">
			<p> let's have bananas for breakfasttttt</p>
		</div>
	</article>

</section>



<section class="gallery-products">
	<div class="inner-products">
		<h2> Product Gallery</h2>
		<div class="thumbnail-container">
			<img class="thumbnail" src="/wp-content/uploads/images/spreadone.jpg" alt="herbs"/>
			<img class="thumbnail" src="/wp-content/uploads/images/herbs.jpg" alt="herbs"/>
			<img class="thumbnail" src="/wp-content/uploads/images/spreadone.jpg" alt="herbs"/>
			<img class="thumbnail" src="/wp-content/uploads/images/herbs.jpg" alt="herbs"/>
		</div><!--/.thumbnail-container-->
		<div class="full-product-image-container">
			<img class="full-product-image" src="" alt=""/>
		</div><!--/.full-product-image-container-->
	</div><!--/.inner-->
</section><!-- /.gallery -->



{% endblock %}
