{% extends 'base.twig' %}

{% block main %}


<div class="hero-container-products">
    <img src="/wp-content/uploads/images/tomato.jpg" alt="tomato">
        <h2 class="tagline"> &diams;Products&diams;</h2>
</div>

<div class="spread-product-gallery">
    <img src="{{ product_gallery}}"/>
    <img src="{{ product_gallery_two}}"/>
    <img src="{{ product_gallery_three}}"/>
    <img src="{{ product_gallery_four}}"/>
    <img src="{{ product_gallery_five}}"/>
    <img src="{{ product_gallery_six}}"/>
</div>

<p>BEST SELLERS</P>



{% endblock %}
